header {
  background: #BBBBBB;
  padding: 20px 0;
}

.caixa {
  width: 940px;
  position: relative;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 15px;
}

nav ul li a{
  color: #000000;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}