header {
  background: #BBBBBB;
}

nav ul li {
  display: inline-block;
  margin-left: 15px;
}

nav ul li a{
  color: #000000;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}